body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-image: url('ldcgif.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

button {
            align-items: center;
}
